* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    padding: 0.6rem 1rem;
    font-size: var(--font-size-2xl);
    font-weight: var(--font-bold);
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.redes-sociais {
    display: flex;
    align-items: center;
    gap: 10px;
}
.redes-sociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.redes-sociais a:hover path {
    fill: #000000;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    padding: 1rem;
}

main .player-name-content {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: max-content;
    padding: 2.5rem 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 25px rgb(54, 54, 54);
}

main .player-name-content h3 {
    font-size: var(--font-size-3xl);
    text-align: center;
}

main .player-name-content h3 span {
    font-size: var(--font-size-4xl);
    color: var(--primary-color-alternative);
}

.input-name {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.login-button{
    background-color: var(--primary-color-alternative);
    border: 2px solid #000000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.login-button:hover {
    background-color: var(--primary-color-hover);
}

.input-name input {
    outline: none;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    height: 50px;
    font-size: var(--font-size-lg);
    font-weight: var(--font-bold);
    padding: 0.7rem;
}

.disabled {
    background-color: gray;
    cursor: not-allowed;
}

.disabled:hover {
    background-color: gray;
}

/* Main Page */
.main-page {
    justify-content: flex-start;
    flex-direction: column;
}

.main-page-title span{
    color: var(--color-5);
}

.all-quizes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: start;
    width: 55%;
}

.quiz {
    background-color: var(--color-3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.quiz:hover {
    transform: scale(1.03); 
}

.quiz h4 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-bold);
    margin-left: 10px;
    margin-right: 10px;
}

.quiz p {
    font-size: var(--font-size-md);
    margin-left: 10px;
    margin-right: 10px;
}

.quiz button {
    background-color: #fff;
    border: 1px solid #000000;
    font-family: inherit;
    font-weight: var(--font-semibold);
    border-radius: 4px;
    width: 100px;
    padding: 5px;
    margin: auto auto 0 auto;
    font-size: var(--font-size-md);
    cursor: pointer;
    transition: 0.3s;
}

.quiz button:hover {
    transform: scale(1.05);
}

.quiz-img {
    width: 100%;
    height: 60%;
}

@media (max-width: 870px)
{
    .all-quizes{
        grid-template-columns: 1fr;
        width: 50%;
    }
}

@media (max-width: 690px) {
    .quiz h4 {
        font-size: var(--font-size-md);
    }

    .quiz p {
        font-size: var(--font-size-sm);
    }
}

@media (max-width: 600px) {
    .main-page-title {
        font-size: var(--font-size-xl);
    }
    .quiz button {
        width: 90px;
        font-size: var(--font-size-sm);
    }
}

/* Quiz page */

.main-quiz {
    align-items: flex-start;
}

.quiz-question h2 {
    font-size: var(--font-size-2xl);
    margin-top: 80px;
}

.quiz-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 80px;
}

.quiz-options span {
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    font-size: var(--font-size-md);
    font-weight: var(--font-semibold);
    width: 750px;
    border-radius: 5px;
    transition: 0.3s;
}

.quiz-options span:hover {
    box-shadow: inset 750px 0 0 0 #ff96ad;
}

.quiz-options span::before {
    margin-right: 10px;
    font-size: var(--font-size-lg);
    font-weight: var(--font-bold);
}

.quiz-options span[option-1]::before {
    content: "A)";
}

.quiz-options span[option-2]::before{
    content: "B)";
}

.quiz-options span[option-3]::before {
    content: "C)";
}

.quiz-options span[option-4]::before {
    content: "D)";
}